.container {
  margin: 30px;
  padding: 30px;
}

.wineData, .rates {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  color: #000066;
  text-decoration: none;
}

h3 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 20px;
  color: #443266;
  padding: 10px 0 10px 0;
}

h3.showWine {
  padding: 10px 0 10px 8px;
}

.afterDropdown {
  padding-top: 20px;
}

.largeButton {
  border: 1px solid #6c757d;
  border-radius: 0.25rem;
  background: whitesmoke;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  color: #443266;
  width:100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 20px;
}

.smallButton {
  background: whitesmoke;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  color: #443266;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

thead {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  color: #443266;
}
